h1{
	font-style: italic;
	font-size:30px;
	color: red;
	background-color: yellow;
}

#title-2 {
	background-color: blue;
	color: white;

}
.style-by-class{
	background-color: green;
	color: yellow;
}
.big-size{
	font-size: 40px;
}
.font-italic{
	font-style: italic;
}
h1,h2,h3{
	text-align: center;
}