.error {
  color: #950000;
}
.sign-up {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.sign-up .fields {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sign-up .fields input {
  width: 100%;
  height: 20px;
}
